{% extends "base.html.twig" %}

{% block body %}

    <table class="table">
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.senderName}}</td>
                <td>{{ message.subject}}</td>
                <td>{{ message.body}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
