{% extends 'base.html.twig' %}

{% block content %}
    <h1>Forgot Password</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.nickname) }}

        <div>
            <input type="submit" value="Request a password" />
        </div>
    {{ form_end(form) }}
{% endblock %}
